<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trip_Project"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChecklistActivity"/>
        <activity android:name=".WhereActivity"/>
        <activity android:name=".WhenActivity"/>
        <activity android:name=".WhoActivity"/>
        <activity android:name=".WhatActivity"/>
        <activity android:name=".ConfirmActivity"/>
        <activity android:name=".hotel.DetailsActivity"/>
        <activity android:name=".hotel.WebActivity"/>
        <activity android:name=".hotel.Fragment1"/>

    </application>




</manifest>